.loginhtml{
		margin-top: 60px;
	
}
body{
	background: #F5F5F5;
	
}
.login-col{
	padding: 0px 0px 30px 0px;
	border: 1px #ccc solid;
	background: #fff;

}
.login-col > ul{
	
	border: none;
}
.login-col > ul > li{
	
	padding: 0px;
	}
.login-col > ul > li >a{
	border: 0px;
	padding: 20px 0px 20px 0px;
	text-align: center;
	background: #eee;
	font-size: 16px;
	margin: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
   border: none;
}
#logfrom,#regform{

	padding:20px 50px 0px 50px ;
}
#logfrom > form > div.checkbox
#regform > form > div.checkbox
{
	margin-top: 20px;
	margin-bottom: 20px;
}
